/* Container tổng */
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}

/* Tiêu đề chính */
.header {
    font-size: 32px;
    font-weight: bold;
    color: #4A90E2;
    margin-bottom: 20px;
    text-align: center;
    
}

/* Form tìm kiếm */
.searchForm {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.inputForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
}
.inputField {
    flex: 1;
    min-width: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.inputField:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

/* Nút tìm kiếm */
.searchButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 31px;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.searchButton:hover {
    background-color: #0056b3;
}

/* Bảng kết quả tìm kiếm */
.resultTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    user-select: none;
}

.resultTable th,
.resultTable td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-size: 18px;
}

.resultTable th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
.resultTable td{
    cursor: pointer;
}
.resultTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.resultTable tr:hover {
    background-color: #e9ecef;
}

/* Thông báo không tìm thấy */
.noResult {
    text-align: center;
    font-size: 18px;
    color: #555;
    padding-top: 20px;
}

/* Chỉnh kích thước từng cột */
.resultTable th.index,
.resultTable td.index {
    width: 5%;
}


.resultTable th.name,
.resultTable td.name {
    width: 25%;
}

.resultTable th.birth,
.resultTable td.birth {
    width: 10%;
}

.resultTable th.date,
.resultTable td.date {
    width: 10%;
}

.resultTable th.address,
.resultTable td.address {
    width: 50%;
}

