.container{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Căn giữa nội dung theo cả hai chiều */
}
.header{
    font-size: 32px;
    font-weight: bold;
    color: #4A90E2;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.loginForm{
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
    position: relative;
    margin: auto;
}

.inputForm{
    flex: 1;
    display: flex;
    
    /* Đảm bảo căn giữa trên màn hình */
    margin-bottom: 20px;
    gap: 15px;
    flex-direction: column;
}
.inputForm label{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    text-align: left;
}


.inputField {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 5px;
}

.inputField:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

/* Nút đăng ký */


.button {
    background-color: #4A90E2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #357ABD;
}



.error {
    color: red;
    font-size: 16px;
    font-weight: 600;

}