.container_make {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}

.registerContainer {
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: 0 auto;
    position: relative;
    top: 5vh;
    margin-bottom: 100px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.dataField_make {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    display: block;
}

.input_make {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input_make:focus {
    border-color: #007bff;
    outline: none;
}

.input_sex {
    margin-right: 8px;
}

.button_make {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 31px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 1px;
}
.button_make_red {
    background-color: #e10404;
    color: #fff;
    border: none;
    margin-top: 31px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 1px;
}
.button_make_red:hover {
    background-color: #540606;
}
.button_make:hover {
    background-color: #0056b3;
}

.makeExamination {
    font-size: 20px;
    margin: 0px;
}
.label_input_container {
    display: flex;
}
.table_make {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    user-select: none;
}
.table_make th,
.table_make td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-size: 18px;
}

.table_make th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
.flex-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px; /* Tùy chỉnh khoảng cách dưới dòng */
    justify-content: space-between;
    font-size: 18px;
}

.flex-row2 {
    display: flex;
    align-items: center;

    margin-bottom: 30px; /* Tùy chỉnh khoảng cách dưới dòng */
}
.flex-buttons {
    display: flex;
    justify-content: flex-start; /* Căn trái */
    gap: 10px; /* Khoảng cách giữa các nút */
    margin-top: 20px; /* Khoảng cách trên nút */
    margin-right: 20px;
}
.date {
    margin-left: 238px;
}
.data {
    margin-bottom: 20px;
}

.patientTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    user-select: none;
}
.patientTable th,
.patientTable td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-size: 18px;
}

.patientTable th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
.patientTable td {
    cursor: pointer;
}
.patientTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.patientTable tr:hover {
    background-color: #e9ecef;
}

.flexColumn {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formData {
    padding: 20px;
    border: 2px solid black;

    border-radius: 10px;
}
.buttonDelete {
    background-color: #e10404;
    color: #fff;
    border: none;

    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buttonAdd {
    background-color: #007bff;
    color: #fff;
    border: none;

    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

}
.modal {
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: 0 auto;
    position: relative;
    top: 5vh;
    margin-bottom: 100px;
}

.button {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.button button {
    flex: 1;
    margin: auto 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
.containerButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 40%;
    margin: auto;
}

.buttonRegister {
    display: flex;
    flex: 1;
    margin: auto 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
;
}
