/* Container tổng */
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    margin-bottom: 200px;
}
.header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    
}

/* Form tìm kiếm */
.dateForm {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
   
}
.inputForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

}
.inputField {
    flex: 1;
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    margin-right: 10px;
    
}

.inputField:focus {
    border-color: #007bff;
}
.searchButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;

    /* Hiệu ứng đổ bóng mặc định */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hiệu ứng khi di chuột */
.searchButton:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Hiệu ứng khi nhấn */
.searchButton:active {
    background-color: #003f8c;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/* Bảng kết quả tìm kiếm */
.resultTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

;
}

.resultTable th,
.resultTable td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.resultTable th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}



